@import "base";

//盒模型占的比例
@mixin flex-vertical($flex){
    -webkit-box-flex:$flex;
    height: 0;
}

//内容居中设置
@mixin text-center{
    display: -webkit-box;
    -webkit-box-pack:center;
	-webkit-box-align:center;
}

//同时设置宽和高度
@mixin set-wh($width:auto,$height:auto){
    width: $width;
    height: $height;
}
.screen-wrap{
    @include set-wh(600px,500px);
    display: -webkit-box;
    -webkit-box-orient:vertical;
    margin: 10px auto;
}
.screen-box{
    @include flex-vertical(345);
    border: 28px solid #030303;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.logo-box{
    @include flex-vertical(65);
    @include text-center;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#A4A5A9), to(#D8D9DB)); 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.base-warp{
    @include flex-vertical(110);
    @include text-center;
    -webkit-box-orient:vertical;
    -webkit-box-align:start;
    background: #FFFFFF;
    perspective: 90px;
    .base-top{
        margin: 0 auto;
        -webkit-box-flex:60;
        width: 160px;
        transform-origin:top;
        transform: rotateX(8deg);
        background: -webkit-gradient(linear, 0 0,0 100%, from(#88898d), to(#fdfdfd));
    }
    .base-center{
        margin: 0 auto;
        -webkit-box-flex:20;
        width: 170px;
        transform-origin:top;
        transform: rotateX(18deg);
        background: -webkit-gradient(linear, 10% 0,70% 100%, from(#D5D4DA), to(#B8B9BD));
    }
    .base-bottom{
        margin: 0 auto;
        -webkit-box-flex:28;
        height: 20px;
        width: 215px;
        transform: rotateX(43deg) translateY(-6px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: -webkit-linear-gradient(left,#E6E7EB,#B8B9BD,#A2A3A7,#B6B7BB,#E1E2E4);
        border-bottom:2px solid #A8A8A8;
    }
}